@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url('../../../public/images/34.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1)); */
}
/* .bodyDark{
 background-color:rgb(55 65 81 / var(--tw-bg-opacity, 1));
} */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}